@media screen and (max-width: 1024px){
  .s-100 {
    font-size: 40px;
    margin: 10px 0;
  }
  .s-22 {
    font-size: 14px;
    margin: 10px 0;
  }
  .cards-wrap {
    justify-content: center;
  }
  .third-card {
    margin-bottom: 20px;
  }
  .first-mini {
    max-width: 175px;
  }
}

@media screen and (max-width: 720px) {
  .header-wrapper {
    display: none;
  }
  .topnav {
    display: block;
  }
}

@media screen and (max-width: 320px) {

}