/* header */
.s-1 {
  background-color: #b28af8;
}

.header-wrapper {
  padding-top: 35px;

  margin: 0 125px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.img-nav-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px;
}

.nav-ul {
  display: flex;
}

.nav-ul > li:not(:last-child) {
  margin-right: 60px;
}

li {
  color: white;
}

button {
  border: 2px solid white;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  background-color: #b28af8;
}

.button-a {
  color: white;
}

/* s-1 */
.part-1 {
  display: flex;
  justify-content: space-between;
  max-width: 1536px;
  width: 100%;
}

.main-title {
  margin-left: 140px;
  max-width: 600px;
  width: 100%;
}

.main-title > h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}

.main-title > h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.main-title > p {
  color: white;
  font-size: 20px;
  margin: 70px 0;
}

.main-title > .button-img-wrap > button {
  max-width: 300px;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
}

.main-title > .button-img-wrap > button > a {
  color: #b28af8;
}

.button-img-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* part 2 */

.part-2 {
  max-width: 800px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.section-1-img {
  max-width: 600px;
  width: 100%;
  margin-bottom: 200px;
}

/* s-2 */
.s-2 {
  background-color: #b28af8;
}

.head-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 120px;
}

.h-1-t {
  text-align: center;
}

.h-1-t > h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 65px;
}

.h-1-t > p {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

.h-1-s {
  max-width: 1360px;
  width: 100%;
  display: flex;
}

.img-nakleboba {
  margin-right: 80px;
}
.icon-wrapper {
  display: flex;
}

.icon-wrapper > img:not(:last-child) {
  margin-right: 90px;
}

.img-metoba {
  margin-left: 80px;
}

/* second-part */
.photo-text {
  max-width: 1270px;
  width: 100%;
  margin-left: 125px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-photo-1 {
  max-width: 550px;
  width: 100%;
  margin-bottom: 140px;
}

.for-photo-1 > img {
  max-width: 550px;
  width: 100%;
}

.for-text {
  max-width: 660px;
  width: 100%;

  display: flex;
}

.line-wrap {
  margin-right: 40px;
}

.article-wrap > h4 {
  font-size: 30px;
  color: white;
  margin-bottom: 45px;
}

.article-wrap > h5 {
  font-size: 22px;
  color: white;
  margin-bottom: 40px;
}

.article-wrap > p {
  font-size: 16px;
  color: white;
}

.article-wrap > p:not(:last-child) {
  margin-bottom: 30px;
}

.article-wrap > p:nth-child(:last-child) {
  margin-bottom: 40px;
}

.button-s-2 {
  width: 240px;
  height: 60px;
  background-color: #ffffff;
  color: #b28af8;
  font-size: 16px;
}

/* s-3 */
.s-3 {
  background-color: #b28af8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-statistic {
  max-width: 1400px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-in {
  max-width: 700px;
  width: 100%;
  align-items: center;
  color: white;
}

.text-in > p {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-in > h3 {
  font-size: 40px;
  margin-bottom: 60px;
}

.martkutxa {
  position: relative;
  display: inline-block;
}

.martkutxa > img {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin-bottom: 140px;
}

.p-wrap-1 {
  position: absolute;
  top: 50px;
  left: 150px;
  margin-right: 150px;
}

.s-100 {
  font-size: 100px;
  color: white;
}

.p-wrap-1 > .s-22 {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 100px;
  left: 50px;
}

.p-wrap-1 > img {
  position: absolute;
  top: 18px;
  left: 350px;
}

.p-wrap-2 {
  position: absolute;
  top: 50px;
  left: 650px;
  margin-right: 150px;
}

.p-wrap-2 > .s-22 {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 100px;
  left: 25px;
}

.p-wrap-2 > img {
  position: absolute;
  top: 18px;
  left: 350px;
}

.p-wrap-3 {
  position: absolute;
  top: 50px;
  left: 1060px;
  margin-right: 150px;
}

.p-wrap-3 > .s-22 {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 100px;
  left: 35px;
}

/* s-4 */

.s-4 {
  background-color: #956ae1;
}

.card-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}

.text-wrap {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.text-wrap > p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.text-wrap > h3 {
  font-size: 40px;
  color: white;
}

/* cards */

.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* card photos */

.first-card {
  border-radius: 15px;
  max-width: 550px;
  width: 100%;
  height: 160px;
  background-color: #b28af8;
  margin-bottom: 20px;

  display: flex;
}

.second-card {
  border-radius: 15px;
  max-width: 550px;
  width: 100%;
  background-color: #b28af8;
  margin-bottom: 20px;

  display: flex;
}

.third-card {
  border-radius: 15px;
  max-width: 550px;
  width: 100%;
  height: 160px;
  background-color: #b28af8;
  display: flex;
}

.four-card {
  border-radius: 15px;
  max-width: 550px;
  width: 100%;
  background-color: #b28af8;
  display: flex;
}

.px20-p {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.px16-p {
  font-size: 16px;
  color: white;
}

.card-first,
.card-second,
.card-third,
.card-four {
  max-width: 70px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.p-container {
  flex-direction: column;
  padding-top: 55px;
  padding-left: 10px;
  padding-right: 20px;
}

.plus {
  max-width: 67px;

  display: flex;
  align-items: flex-end;
}

/* second part */

.main-container {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  margin-top: 100px;
}

.texts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texts-container > p {
  font-size: 20px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

.texts-container > h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.for-all-pic {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.for-all-pic-2 {
  display: flex;
  justify-content: space-between;
  height: 358px;
}

.first-mini {
  background-color: #b28af8;
  border-radius: 33px;
  max-width: 275px;
  width: 100%;
}

.head-container > img {
  max-width: 275px;
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.body-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 20px 0;
}

.max {
  font-size: 20px;
  color: white;
}

.min {
  font-size: 16px;
  color: white;
}

.metoba-nakleboba {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 150px;
}

/* part 3 */

.plus-1 {
  display: flex;
  justify-content: flex-end;
}

/* footer */

footer {
  background-color: #b28af8;
}

.footer-main {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.footer-img {
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.footer-img > img {
  max-width: 120px;
  width: 100%;
}

.footer-texts > h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.footer-texts > p {
  font-size: 12px;
  color: white;
  margin-bottom: 25px;
}

/* input */

input::placeholder {
  color: white;
}



.input-button-wrap {
  width: 515px;
  max-width: 100%;
  position: relative;
}


.input-button-wrap input {
  max-width: 515px;
  width: 100%;
  background-color: #b28af8;
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  padding: 10px 15px;
}


.input-button-wrap button {
  width: 160px;
  height: 35px;
  background-color: #ffffff;
  color: #b28af8;
  font-size: 16px;

  aspect-ratio: 1;

  position: absolute;
  right: 7px;
  top: 7px;
  
}