/* header */

header {
  background-color: #b28af8;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.img-nav-wrapper {
  display: flex;
  align-items: center;
}

.logo-theme {
  margin-right: 50px;
}

.nav-ul {
  display: flex;
}

.nav-ul > li {
  margin-right: 40px;
}

li {
  color: white;
}

button {
  border: 2px solid white;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  background-color: #b28af8;
}

.button-a {
  color: white;
}

/* s-1 */
.s-1 {
  background-color: #b28af8;
  
}

.s-1-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.part-1 {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  width: 100%;
  padding: 135px 0;
}

.main-title {
  max-width: 500px;
  width: 100%;
}

.main-title > h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}

.main-title > h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.main-title > p {
  color: white;
  font-size: 20px;
  margin: 70px 0;
}

.main-title > .button-img-wrap > button {
  max-width: 300px;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
}

.main-title > .button-img-wrap > button > a {
  color: #b28af8;
}

.button-img-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* part 2 */

.part-2 {
  max-width: 500px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  
  padding-left: 100px;
  padding-bottom: 120px;
  
}

.section-1-img {
  max-width: 500px;
  width: 100%;
  
}

.head-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  max-width: 1200px;
  width: 100%;
  padding-bottom: 100px;
}

.h-1-t {
  text-align: center;
}

.h-1-t > h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 65px;
}

.h-1-t > p {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

.h-1-s {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}


.icon-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.svg-1, .svg-2, .svg-3, .svg-4, .svg-5 {
  max-width: 152px;
  width: 100%;
}


/* second-part */
.photo-text {
  max-width: 1200px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-photo-1 {
  max-width: 500px;
  width: 100%;
  margin-bottom: 140px;
}

.for-photo-1 > img {
  max-width: 550px;
  width: 100%;
}

.for-text {
  max-width: 660px;
  width: 100%;

  display: flex;
}

.line-wrap {
  margin-right: 40px;
}

.article-wrap > h4 {
  font-size: 30px;
  color: white;
  margin-bottom: 45px;
}

.article-wrap > h5 {
  font-size: 22px;
  color: white;
  margin-bottom: 40px;
}

.article-wrap > p {
  font-size: 16px;
  color: white;
}

.article-wrap > p:not(:last-child) {
  margin-bottom: 30px;
}

.article-wrap > p:nth-child(:last-child) {
  margin-bottom: 40px;
}

.button-s-2 {
  width: 240px;
  height: 60px;
  background-color: #ffffff;
  color: #b28af8;
  font-size: 16px;
}

.text-statistic {
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 140px;
}

.text-in {
  max-width: 700px;
  width: 100%;
  align-items: center;
  color: white;
}

.text-in > p {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-in > h3 {
  font-size: 40px;
  margin-bottom: 60px;
}

.martkutxa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.martkutxa > img {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.p-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.p-wrap-1, .p-wrap-2, .p-wrap-3 {
  color: white;
}

.static-line {
  background-color: white;
  height: 110px;
  width: 0.5px;
}

.s-100 {
  font-size: 80px;
}

.s-22 {
  font-size: 22px;
  text-align: center;
}



/* s-4 */

.s-2 {
  background-color: #956ae1;
}

.card-wrap {
  max-width: 1200px;
  width: 100%;

  padding-top: 80px;
}

.text-wrap {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-wrap > p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.text-wrap > h3 {
  font-size: 40px;
  color: white;
}

/* cards */

.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 150px;
}

/* card photos */

.first-card {
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  height: 160px;
  background-color: #b28af8;
  margin-bottom: 20px;

  display: flex;
}

.second-card {
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  background-color: #b28af8;
  margin-bottom: 20px;

  display: flex;
}

.third-card {
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  height: 160px;
  background-color: #b28af8;
  display: flex;
}

.four-card {
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  background-color: #b28af8;
  display: flex;
}

.px20-p {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.px16-p {
  font-size: 16px;
  color: white;
}

.card-first,
.card-second,
.card-third,
.card-four {
  max-width: 70px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.p-container {
  flex-direction: column;
  padding-top: 55px;
  padding-left: 10px;
  padding-right: 20px;
}

.plus {
  max-width: 67px;

  display: flex;
  align-items: flex-end;
}

/* second part */

.main-container {
  max-width: 1200px;
  width: 100%;

  margin-top: 100px;
}

.texts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texts-container > p {
  font-size: 20px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

.texts-container > h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.for-all-pic {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.for-all-pic-2 {
  display: flex;
  justify-content: space-between;
  height: 358px;
}

.first-mini {
  background-color: #b28af8;
  border-radius: 33px;
  max-width: 250px;
  width: 100%;
}

.head-container > img {
  max-width: 275px;
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}

.body-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 20px 0;
}

.max {
  font-size: 20px;
  color: white;
}

.min {
  font-size: 16px;
  color: white;
}

.metoba-nakleboba {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

/* part 3 */

.plus-1 {
  display: flex;
  justify-content: flex-end;
}

/* footer */

footer {
  background-color: #b28af8;
}

.footer-main {
  max-width: 1200px;
  width: 100%;

  padding: 100px 0;
}

.footer-img {
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.footer-img > img {
  max-width: 120px;
  width: 100%;
}

.footer-texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-texts > h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.footer-texts > p {
  font-size: 12px;
  color: white;
  margin-bottom: 25px;
}

/* input */

input::placeholder {
  color: white;
}

.input-button-wrap {
  width: 1200px;
  max-width: 100%;
  position: relative;
}

.input-button-wrap input {
  max-width: 1200px;
  width: 100%;
  background-color: #b28af8;
  border: 2px solid white;
  border-radius: 30px;
  height: 50px;
  padding: 10px 15px;
}

.input-button-wrap button {
  width: 200px;
  height: 35px;
  background-color: #ffffff;
  color: #b28af8;
  font-size: 16px;

  aspect-ratio: 1;

  position: absolute;
  right: 7px;
  top: 7px;
}

/* more details */

.more-details {
  max-width: 1200px;
  width: 100%;

  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-div {
  margin-right: 150px;
}

.first-div,
.second-div,
.third-div,
.four-div {
  max-width: 200px;
  width: 100%;
}

.more-details p {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

/* footer end */

.last-line {
  width: 1200px;
  height: 0.5px;
  background-color: white;
  margin: 0 auto;
}

.footer-end {
  max-width: 1200px;
  width: 100%;

  padding-bottom: 40px;

  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.rights {
  display: flex;
  align-items: flex-end;
  color: white;
}

/* end main css */
/* ... */
/* start about us */

.s-1-c {
  background-color: #b28af8;
}

.article-wrap-about {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
}

.article-wrap-about h4,
h5,
p {
  margin-bottom: 20px;
}

.contact-footer {
  padding-top: 4%;
}

/* services page */
.services {
  padding: 0;
  margin-top: 20px;
}

.services-header {
  margin-bottom: 5px;
  padding-top: 15px;
}

.services-text {
  margin-top: 5px;
}

/* blog */

.blog-main {
  margin-top: 10px;
}

.blog-footer {
  padding-top: 80px;
}

/* portfolio */

.portfolio-footer {
  padding-top: 50px;
}

/* contact us */
.contact-us-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  margin: auto;
  padding-top: 125px;
  padding-bottom: 125px;
}



.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #b28af8;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #b28af8;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}


/* Style the active link (or home/logo) */
.active {
  background-color: #b28af8;
  color: white;
}


.topnav {
  display: none;
}

